cl100k_base.tiktoken
wheelhouse
tests/__pycache__/*.pyc
app/__pycache__/*.cpython-312.pyc
app/__pycache__/*.cpython-39.pyc
app/*/__pycache__/*.cpython-312.pyc
dev.ps1
.env
dev.ps1
storage/files/*.pdf
storage/files/*.docx
storage/files/*.txt
